doctype html
html
  head
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css")
    //- script(type="text/javascript" src="/javascripts/require.js")
    title= title
  body
    block content
